.body {
  background-color: #1f8dd6;
  height: 95%;
  left: 0;
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
}

.body_form {
  background-color: #00000012;
  border: 1px solid rgba(255, 255, 255, 0.631);
  border-radius: 5px;
  height: 60%;
  margin: 0 auto;
  margin-top: 8%;
  padding: 20px;
  width: 60%;
}

.ipt_form {
  border: 0;
  border-radius: 5px;
  color: rgb(5, 10, 75);
  height: 35px;
  margin-top: 20px;
  padding-left: 10px;
  width: 60%;
}

.ipt_form:focus {
  box-shadow: inset 0 0 0 1px rgb(253, 253, 253), 0 0 3px 1px rgb(216, 208, 208);
  outline: none;
}

.div_form {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
}

.txt_label {
  color: white;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.txt_seller {
  color: white;
  font-size: 16px;
  letter-spacing: 0.05em;
}

h1, h2 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.268) 0.1em 0.1em 0.2em
}

h2 {
  color: #ffffffe9;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.btn_ok {
  background-color: rgba(255, 255, 255, 0.816);
  border: 0;
  border-radius: 5px;
  color: #1f8dd6;
  font-size: 18px;
  height: 40px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0.5em 2em;
  width: 60%;
}

.btn_ok:hover {
  background-color: #ffffff;
  border: none transparent;
  border-radius: 5px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  color: #1e8ad1;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  padding: 0.5em 2em;
  transition: all 0.4s ease 0s;
  width: 60%;
}

.seller {
  margin-top: 10px;
}

.div_btn {
  margin: 0 auto;
}

.footer {
  background-color: black;
  bottom: 0;
  color: white;
  font-size: 12px;
  height: 5%;
  letter-spacing: 2px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
}